#root{
    /* background-color: #dddddd; */
    background: url("../assets/images/banner.jpg") no-repeat center center;
    background-size: cover;
}
.login-form {
    max-width: 480px;
    left: 80%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}